---
const categories = [
  {
    id: '001',
    name: 'Sabanas',
    href: '/sabanas',
    color:
      'bg-gradient-to-br from-[#a7c3b8]/40 to-[#a7c3b8]/20 via-yellow-100/20',
    description: 'Sabanas de primera calidad y materiales premium.'
  },
  {
    id: '002',
    href: '/mochilas',
    name: 'Mochilas',
    color:
      'bg-gradient-to-br from-[#b2b2b2]/40 to-[#b2b2b2]/20 via-amber-100/20',
    description: 'Las mejores mochilas y los materos mas lindos.'
  },
  {
    id: '003',
    href: '/',
    name: 'Riñoneras',
    color:
      'bg-gradient-to-br from-[#f0eb89]/40 to-[#f0eb89]/20 via-green-100/20',
    description: 'Riñoneras modernas y originales.'
  }
];
---

<article class='w-full grid grid-row-3 flex-1 gap-2'>
  {
    categories.map(({ name, color, id, description, href }) => (
      <a
        href={href}
        class={`${color} p-2 flex flex-col gap-2 relative border-b border-black-medium`}
      >
        <span>{id}</span>
        <h3 class='text-subtitle font-medium'>{name}</h3>
        <p class='text-pretty max-w-[60%]'>{description}</p>
        <svg class='absolute bottom-2 right-2 size-10 text-stone-800'>
          <use xlink:href='/assets/sprite.svg#material-symbols-light:arrow-right-alt-rounded' />
        </svg>
      </a>
    ))
  }
</article>
