---
import ProductImage from './ProductImage.astro';
import ProductPrice from './ProductPrice.astro';
import ProductSizes from './ProductSizes.astro';
const { data } = Astro.props;
---

<section class='grid grid-cols-2 grow gap-2 px-2'>
  {
    data.map(({ data }: { data: any }) => {
      const { name, image, sizes, price, description } = data;
      return (
        <article class='flex flex-col h-fit border-2 border-black-medium bg-white'>
          <ProductImage image={image} />
          <div class='flex flex-col p-2 border-t-2 border-black-medium'>
            <div class='flex flex-col leading-[18px]'>
              <h2 class='font-medium opacity-90 '>{name}</h2>
              <ProductPrice price={price} />
            </div>
            <p class='text-[12px] text-black-light text-pretty leading-[14px] mt-1'>
              {description}
            </p>
            <ProductSizes sizes={sizes} />
            <a
              href='https://wa.me/5491137569650?text=Hola%20quiero%20hacer%20una%20consulta'
              target='_blank'
              class='mt-1 w-full bg-black-medium text-white px-2 py-[2px] text-sm text-center'
            >
              Lo quiero
            </a>
          </div>
        </article>
      );
    })
  }
</section>
