---
import ProductButton from './ProductButton.astro';
import ProductImage from './ProductImage.astro';
import ProductPrice from './ProductPrice.astro';
import ProductSizes from './ProductSizes.astro';
const { data } = Astro.props;
---

<section
  class='grid grid-cols-[repeat(auto-fill,minmax(160px,1fr))] gap-2 px-2 pb-4'
>
  {
    data.map(({ data }: { data: any }) => {
      const { name, image, sizes, price, description } = data;
      return (
        <article class='h-fit flex flex-col border-2 border-black-medium bg-stone-50'>
          <ProductImage image={image} />
          <div class='flex flex-col p-2 border-t-2 border-black-medium'>
            <div class='flex flex-col leading-[18px]'>
              <h2 class='font-medium opacity-90 '>{name}</h2>
              <ProductPrice price={price} />
            </div>
            <p class='text-[12px] text-black-light text-pretty leading-[14px] mt-1'>
              {description}
            </p>
            <ProductSizes sizes={sizes} />
            <ProductButton name={name} />
          </div>
        </article>
      );
    })
  }
</section>
